.container {
  border-radius: 30px;
  width: 1098px;
}

.cards {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: larger;
  justify-content: space-evenly;
  list-style: none;
}

.missions {
  margin-bottom: 2%;
}
