body {
  margin: 0;
}

.container {
  align-items: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0), black) , url('./images/background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

